<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="item.Name" ng-blur="item.put()"
                           ng-enter="item.put()">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Tooltip</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="item.Tooltip" ng-blur="item.put()" ng-enter="item.put()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group" tooltip="The max number of this item that can be added, default is 1.">
                <label class="control-label">Max Count</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="item.MaxCount" ng-blur="item.put()"
                           ng-enter="item.put()">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Price</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" ng-model="item.Price" ng-blur="item.put()"
                           ng-enter="item.put()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">Selected by Default</label>
                <div class="input-group">
                    <input type="checkbox" ng-model="item.Default" ng-blur="item.put()" ng-enter="item.put()">
                </div>
            </div>
        </div>
    </div>
</div>