.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*fixes a problem where empty dd cause dd's below it to be shifted up'*/
.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}

.ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
